.App {
  font-family: sans-serif;
  text-align: center;
  padding: 20px;
}
.menu {
  background-color: cornflowerblue;
}
.menu ul {
  list-style: none;
  display: flex;
}
.menu ul li a {
  display: block;
  padding: 5px 10px;
}
.catalogo {
  padding: 40px;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-around;
}

.produto {
  padding: 10px;
  border: 2px solid white;
  width: 300px;
}

.produto img {
  width: 300px;
}
